{{page-title "Rick and Morty"}}

<header>
  <nav>
    <ul>
      <li>
        <LinkTo @route="index">Welcome</LinkTo>
      </li>
      <li>
        <LinkTo @route="characters">Characters</LinkTo>
      </li>
    </ul>
  </nav>
</header>

{{outlet}}